@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-ExtraBoldItalic.woff2') format('woff2'),
        url('Larsseit-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-ExtraBold.woff2') format('woff2'),
        url('Larsseit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Italic.woff2') format('woff2'),
        url('Larsseit-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-LightItalic.woff2') format('woff2'),
        url('Larsseit-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-BoldItalic.woff2') format('woff2'),
        url('Larsseit-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Bold.woff2') format('woff2'),
        url('Larsseit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-MediumItalic.woff2') format('woff2'),
        url('Larsseit-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit.woff2') format('woff2'),
        url('Larsseit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Thin.woff2') format('woff2'),
        url('Larsseit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Light.woff2') format('woff2'),
        url('Larsseit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-Medium.woff2') format('woff2'),
        url('Larsseit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larsseit';
    src: url('Larsseit-ThinItalic.woff2') format('woff2'),
        url('Larsseit-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

